accelerate
aiofiles
docx2txt
fastapi
fpdf2
huggingface-hub
pillow
pdfplumber
pyyaml
PyMuPDF
pydantic
python-dotenv
python-docx
python-multipart
qdrant-client
questionary
requests
safetensors
sentence-transformers
tiktoken
tokenizers
torch
torchaudio
torchvision
transformers
uvicorn
watchfiles
nltk
sentencepiece
beautifulsoup4
spacy[all]
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl